.oh-my-zsh:
  type: archive
  url: https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz
  stripComponents: 1 # remove top-level directory from the tarball
  refreshPeriod: 168h
.oh-my-zsh/custom/plugins/zsh-syntax-highlighting:
  type: archive
  url: https://github.com/zsh-users/zsh-syntax-highlighting/archive/master.tar.gz
  stripComponents: 1 # remove top-level directory from the tarball
  refreshPeriod: 168h
.local/bin/z.sh:
  type: file
  url: https://raw.githubusercontent.com/rupa/z/master/z.sh
  refreshPeriod: 168h
